$breakpoints: (
  breakpoint-small: 768px,
  breakpoint-medium: 992px,
  breakpoint-large: 1200px
);

// BEGIN (write your solution here)
@mixin media($breakpoint: 'small', $max-breakpoint: null) {
  @if($breakpoint == 'custom') {
    @media screen and (max-width: $max-breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: map-get($breakpoints, 'breakpoint-#{$breakpoint}')) {
      @content;
    }
  }
}
// END
